$bgcolor1: #e56353;
$bgcolor2: #91918D;
$bgcolor3: #FAFAFA;
$bgcolor4: white;
$bgcolor5: #686963;
$font1: white;
$font2: #FAFAFA;
$font3: #686963;
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;

