// Sección Productos 1

.products{
    background-color: $bgcolor2;
    padding-block: 4rem;
    padding-inline: 7rem;

    .products__image{
        width: 100%;
    }
}

// Sección Productos 2

.products2{
    background-color: $bgcolor3;
    padding-block: 4rem;
    padding-inline: 7rem;

    .products2__image{
        width: 100%;
    }

}

// Sección Nosotros (Título)

.title{
    background-color: $bgcolor1;
    padding: 5rem;

}

// Sección Nosotros

.aboutUs{
    background-color: $bgcolor3;
    padding-block: 4rem;
    padding-inline: 7rem;

    .aboutUs__image{
        width: 40rem;
        padding-inline: 18rem;
        padding-top: 4rem;

    }
}

