.contact{
    background-color: $bgcolor1;
    padding: 2rem;
    text-align: center;

    .contact__Title{
        font-size: $large;
        font-weight: 700;
        color: $font1;
        text-align: center;
        padding-bottom: 2rem;

        .contact__Title--button{
            background-color: $bgcolor4;
            border: #686963;
            border-radius: 5rem;
            color: $font3;
            padding: 1rem 3rem;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            font-size: 40px;
            font-weight: 700;
            width: 25rem;
        }
    }
}

