footer {
    background-color: $bgcolor5;
    width: 100%;
    text-align: center;
    padding-block: 5rem;
       
      .footerLogo__image {
          width: 20rem;
          padding: 1rem;
      }
    }
  
  .content {
    text-align: center;
  }
  