header {
    background-color: white;
    top: 0;
    width: 100%;
       
      .logo__image {
          width: 20rem;
          padding: 1rem
      }
    }
  
  .content {
    text-align: center;
  }
  